.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  justify-content: center;
  gap: 0 $card-gap;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, $card-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: $card-gap;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: $card-gap;
  }
}
