$card-padding: 16px;
$card-width: 200px;
$cards-margins: 48px;
$star-size: 16px;

$transition-time: 300ms;
$transition-linear: linear;

$main-color: #060b35;
$hover-color: #00acdc;
$secondary-color: #616070;
$white-color: #fff;
